<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
{% include "navbar.html" %}
<div class="container">
  <div class="row">
    <h1> {{ title }} </h1>
    {% if experiments and not experiment_id %}
    <table class="table table-hover">
      <thead>
      <th>Experiment date</th>
      <th>Trials completed</th>
      <th>Total trials</th>
      <th>Status</th>
      <th>Training/Real</th>
      </thead>
      <tbody>
    {% for experiment in experiments %}
    <tr>
      <td> <a class="btn btn-xs" href="{{ url_for('history_experiment', experiment_id = experiment.id)
      }}"> {{ experiment.creation_date }} </a> </td>
      <td> {{ experiment.trials_completed }} </td>
      <td> {{ experiment.trials.all() | length }} </td>
      <td> {% if experiment.trials_completed == (experiment.trials.all() |
        length) %}
        <span class="label label-success">Completed</span>
        {% else %}
        <span class="label label-danger">Incomplete</span>
        {% endif %}</td>
      <td> {% if experiment.training %} <span class="label
      label-success">Training</span> {% else %} <span class="label
      label-primary">Experiment</span> {% endif %} </td>
    </tr>
    {% endfor %}
      </tbody>
    </table>
    {% elif experiment_id and not experiments %}
    <h4> Experiment date: {{ experiment_date }} 
      <a href="{{ url_for('history') }}" class="pull-right btn btn-primary"> &lt; Back </a>
    </h4>
    <br>
    <ul class="nav nav-tabs" id="history_tab">
      <li class="active"><a href="#section_plot">Plot</a></li>
      <li ><a href="#section_data">Underlying Data</a></li>
    </ul>
    <div class="tab-content">
       <div id="section_plot" class="tab-pane fade in active">
         {{ plot }}
       </div>
       <div id="section_data" class="tab-pane fade in">
         <table class="table table-condensed table-hover">
           <thead>
             <th> Matrix </th>
             <th> Cue row </th>
             <th> Duration </th>
             <th> Response </th>
             <th> Score </th>
           </thead>
           <tbody>
             {% for trial in trials %}
             <tr>
               <td> {{ trial.matrix.first().data }}</td>
               <td> {{ trial.cue_row }}</td>
               <td> {{ trial.duration }}</td>
               <td> {{ trial.response }}</td>
               <td> <span class="badge">{{ trial.score }}</span> </td>
             </tr>
             {% endfor %}
           </tbody>
         </table>
       </div>
    </div>
    {% else %}
    <h4> No experiments found for you </h4>
    {% endif %}
  </div>
</div>
<script src="{{ url_for('static', filename='js/history.js') }}"></script>
{% endblock %}
