{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <h1>Partial Report: Cognitive Science Experiment</h1>
    {% include "about_experiment.html" %}
  </div>

  <div class="row">
    {% if not user.username %}
    <div class="center-block">
      <a class="btn btn-primary" href="{{ url_for('login') }}">Login</a>
    </div>
    {% else %}
    <div class="center-block">
      <a class="btn btn-success" href="{{ url_for('dashboard') }}">Go to My Dashboard</a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
