<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <h1>Partial Report: {{ title }}</h1>
    <p> New user? <a href="register">register</a> </p>
    <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
      {{form.username.label}}: {{ form.username(size=20) }}<br>
      {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %} <br>
      </p>
      {{form.password.label}}: {{ form.password(size=20) }}<br>
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %} <br>
      </p>
      <p>{{ form.remember_me }} Remember Me</p>
      <p><input class="btn btn-primary" type="submit" value="Sign In"></p>
    </form>
  </div>
</div>
{% endblock %}
