<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
{% include "navbar.html" %}
<div class="container">
  <div class="row">
    <h1>{{ title }}</h1>
    Apply: 
    <a href="#" class="btn btn-xs" id="preset1">Preset 1</a>
    |
    <a href="#" class="btn btn-xs" id="preset2">Preset 2</a>
    |
    <a href="#" class="btn btn-xs" id="preset3">Preset 3</a>
    |
    <a href="#" class="btn btn-xs" id="preset4">Preset 4</a>
    <br><br>
  </div>
  <div class="row">
    <form action="" method="post" name="{{ url_for('training') }}">
      {{ form.hidden_tag() }}
      <p>
      {{form.matrix_size.label}}: {{ form.matrix_size }}<br>
      {% for error in form.matrix_size.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %} <br>
      </p>
      {{form.data_type.label}}: {{ form.data_type }}<br>
      {% for error in form.data_type.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %} <br>
      </p>
      {{form.num_trials.label}}: {{ form.num_trials }}<br>
      {% for error in form.num_trials.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %} <br>
      </p>
      <script src="static/js/training_form.js"></script>
      <p><input type="submit" value="Start"></p>
    </form>
  </div>
</div>
{% endblock %}
